* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: #b1b1b1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /*Vertical*/
    justify-content: center; /*Horizontal*/
}

div a{
    text-decoration: none;
    color: black;
    font-family: Work Sans, sans-serif;
    display: inline-block;
    padding: 1em;
}

div a:hover {
    color: darkblue;
}

#margin-right {
    margin-right: auto;
}

#margin-left {
    margin-left: auto;
}


div.logo {
    position: absolute;
}

a.logo {
    font-family: Montserrat, sans-serif;
    font-size: 3em;
    padding: .2em 0;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/Work_Sans/static/WorkSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}